.navbar {
    transition: 0.5s;  /* Añade una transición suave al cambiar el tamaño */
    font-size: 1.5em;
    padding: 20px 0;
  }
  
  .navbar-shrink {
    font-size: 1.2em;
    padding: 10px 0;
  }
  