{% extends "layout.html" %}

{% block title %}Agregar serie{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title">Formulario para agregar una serie</h1>
        <form action="/vistaDocente/agregarSerie" method="post">
            <div class="field">
              <label class="label" for="nombre">Nombre de la serie:</label>
              <div class="control">
                <input class="input" type="text" id="nombre" name="nombre" required>
              </div>
            </div>
            <div class="field">
              <label class="label" for="fecha">Fecha de creación:</label>
              <div class="control">
                <input class="input" type="date" id="fecha" name="fecha" required>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-primary" type="submit">Agregar</button>
              </div>
            </div>
          </form>
          
      </div>
    </div>
  </div>
</section>

<script>
  // Obtener la fecha actual
  var currentDate = new Date().toISOString().split('T')[0];
  
  // Establecer la fecha actual como valor predeterminado en el campo de fecha
  document.getElementById("fecha").value = currentDate;
</script>
{% endblock %}
