{% extends "layout.html" %}

{% block title %}
  Formulario de Ejercicio
{% endblock %}

{% block body %}
  <div class="section">
    <div class="container">
      <h1 class="title">Agregar nuevo ejercicio</h1>
      <form action="{{ url_for('agregar_ejercicio') }}" method="post" enctype="multipart/form-data">
        <!-- Nombre del Ejercicio -->
        <div class="field">
          <label class="label">Nombre del Ejercicio</label>
          <div class="control">
            <input class="input" type="text" name="nombre" required>
          </div>
        </div>

        <!-- Path del Ejercicio -->
        <div class="field">
          <label class="label">Path del Ejercicio</label>
          <div class="control">
            <input class="input" type="text" name="path_ejercicio" required>
          </div>
        </div>

        <!-- Enunciado del Ejercicio -->
        <div class="field">
          <label class="label">Enunciado del Ejercicio</label>
          <div class="control">
            <textarea class="textarea" name="enunciado" rows="5" required></textarea>
          </div>
        </div>

        <!-- ID de Serie -->
        <div class="field">
          <label class="label">ID de Serie</label>
          <div class="control">
            <div class="select">
              <select name="id_serie" required>
                <option value="" disabled selected>Selecciona una serie</option>
                {% for serie in series %}
                  <option value="{{ serie.id }}">{{ serie.nombre }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <!-- Campo para subir un archivo -->
        <div class="field">
            <label class="label">Archivo del Ejercicio</label>
            <div class="file has-name is-fullwidth">
              <label class="file-label">
                <input class="file-input" type="file" name="archivo_ejercicio" required>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Elegir archivo…
                  </span>
                </span>
                <span class="file-name" id="file-name">
                  No hay archivo seleccionado
                </span>
              </label>
            </div>
          </div>

        <!-- Botón para enviar el formulario -->
        <div class="field">
          <div class="control">
            <button type="submit" class="button is-primary" id="submit-button">Guardar Ejercicio</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Modal -->
  <div id="success-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <!-- Contenido del modal -->
      <div class="box">
        <h1 class="title has-text-success">Éxito</h1>
        <p id="modal-message">Tu ejercicio ha sido guardado con éxito.</p>
      </div>
    </div>
    <button id="close-modal" class="modal-close is-large" aria-label="close"></button>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelector("#submit-button").addEventListener("click", function(event) {
        event.preventDefault();

        var formData = new FormData(document.querySelector("form"));
        fetch("{{ url_for('agregar_ejercicio') }}", {
          method: "POST",
          body: formData
        })
        .then(function(response) {
          if (response.ok) {
            return response.json();
          } else {
            console.error("Error en la solicitud al servidor");
          }
        })
        .then(function(data) {
          if (data && data.message) {
            document.getElementById("modal-message").textContent = data.message;
            var modal = document.getElementById("success-modal");
            modal.classList.add("is-active");

            // Cerrar el modal y redirigir después de 2 segundos
            setTimeout(function() {
              modal.classList.remove("is-active");
              window.location.href = "{{ url_for('rutaDocente') }}";
            }, 1000);
          } else {
            console.error("Respuesta del servidor inválida");
          }
        })
        .catch(function(error) {
          console.error("Error en la conexión con el servidor:", error);
        });
      });

      // Cerrar el modal cuando se hace clic en el botón de cierre
      document.getElementById("close-modal").addEventListener("click", function() {
        var modal = document.getElementById("success-modal");
        modal.classList.remove("is-active");
      });
    });
  </script>

<script>
    document.querySelector('.file-input').addEventListener('change', function() {
      var fileName = this.files.length > 0 ? this.files[0].name : "No hay archivo seleccionado";
      document.getElementById('file-name').textContent = fileName;
    });
  </script>
{% endblock %}
