{% extends "layout.html" %}

{% block title %}Detalle del Ejercicio{% endblock %}

{% block content %}
 
<div class="container mt-5">
    <a href="{{ url_for('detallesSeries',supervisor_id=supervisor_id,serie_id=ejercicio.id_serie) }}">Volver a la serie</a>
</div>
<div class="container mt-5 " >
    <h1>{{ejercicio.nombre}}</h1>

</div>

<div class="row">
    <div class="container mt-5">
        <div class="enunciado-ejercicio">
            {{ enunciado|safe }}
        </div>
    </div>
</div>

{% endblock %}