{% extends "layout.html" %}

{% block title %}Detalles de la serie{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1>{{ serie.nombre }}</h1>

<p>Activa: {{ serie.activa }}</p>
<h2>Ejercicios</h2>
<ol>
    {% for ejercicio in ejercicios %}
        <li>
            <a href="{{ url_for('detallesEjercicio', supervisor_id=supervisor_id, serie_id=serie.id,ejercicio_id=ejercicio.id) }}">{{ ejercicio.nombre }}</a>

        </li>
    {% endfor %}
    </ol>
<a href="{{ url_for('dashDocente', supervisor_id=supervisor_id) }}">Volver al supervisor</a>
    
</div>


{% endblock %}
