{% extends 'layoutE.html' %}

{% block title %}{{ ejercicio.nombre }}
{% endblock %}

{% block content %}

<div class="container mt-5">
    <br>
    <a href="{{ url_for('detallesSeriesEstudiantes', estudiante_id=estudiante_id, serie_id=serie.id) }}">
        <svg width="35px" height="35px" viewBox="0 0 1024 1024" fill="#000000" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M669.6 849.6c8.8 8 22.4 7.2 30.4-1.6s7.2-22.4-1.6-30.4l-309.6-280c-8-7.2-8-17.6 0-24.8l309.6-270.4c8.8-8 9.6-21.6 2.4-30.4-8-8.8-21.6-9.6-30.4-2.4L360.8 480.8c-27.2 24-28 64-0.8 88.8l309.6 280z" fill="" /></svg>   
    </a>
</div>


<div class="container mt-5">
    <div class="card text-light bg-dark p-4 rounded mb-4 no-hover-effect">
        <h3>{{ejercicio.nombre}}</h3>
    </div>
</div>


<div class="container mt-5">
    <div class="enunciado-ejercicio">
        {{ enunciado|safe }}
    </div>
</div>


<div class="container mt-5">
    <form id="ejercicioForm" method="POST" action="{{ url_for('detallesEjerciciosEstudiantes', estudiante_id=estudiante_id, serie_id=serie.id, ejercicio_id=ejercicio.id) }}" enctype="multipart/form-data" onsubmit="return validateForm()">
        <div class="form-group">
            <label for="archivo_java">Selecciona tus archivos .java (Proyecto/src/main/java/org/example)</label>
            <input type="file" class="form-control-file" name="archivo_java" accept=".java" multiple>
        </div>
        <button type="button" class="btn btn-secondary" id="btnSubmit" onclick="submitForm()">Subir Solución</button>
        <button type="button" class="btn btn-secondary d-none" id="btnLoading" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Cargando...
        </button>
    </form>              
</div>



<div class="container mt-5">
    {% if errores %}
        <div class="alert custom-alert custom-background-{{ errores.tipo }} custom-border-{{ errores.tipo }} custom-text-{{ errores.tipo }}">
            <h2>{{ errores.titulo }}</h2>
            <ul>
                {%if errores.mensaje == 'BUILD SUCCESS'%}
                    <li>Felicitaciones, aprobaste todos los test, puedes seguir con el siguiente ejercicio</li>
                {% else %}
                    {% for error in errores.mensaje[:-1] %}
                        <li>{{ error|replace('/home/ivonne/MemoriaTituloIvonne/ejerciciosEstudiantes/', '')|safe }}</li>
                    {% endfor %}
                {% endif %}
                
            </ul>
        </div>
    {% endif %}
</div>


<div class="container mt-5">
    <!-- Sección de ejercicios disponibles -->
    <div class="row">
        {% for ejercicio_info in colors_info %}
            <div class="col-md-3 mb-4">
                <a href="{{ url_for('detallesEjerciciosEstudiantes', estudiante_id=estudiante_id, serie_id=serie.id, ejercicio_id=ejercicio_info.id) }}" class="card-link text-decoration-none">
                    <div class="card {{ejercicio_info.color}} text-white">
                        <div class="card-body">
                            <p class="card-text text-custom-white">
                                {{ ejercicio_info.nombre }}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-4 mb-4 mx-auto">
        <div class="card bg-white calificacion-card" style="border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <div class="card-body text-center">
                <h3 class="card-title" style="color: black;">Calificación Total </h3>
                <h3 class="calificacion" style="color: black">{{ calificacion }}</h3>
            </div>
        </div>
    </div>
</div>

<style>
    :root {
        --persian-indigo-opaco: rgba(52, 0, 104, 0.5);
        --success-color: #218838;  /* Puedes ajustar este color según tus preferencias */
        --danger-color: #c82333;   /* Puedes ajustar este color según tus preferencias */
    }
    .card{
        transition: box-shadow 0.3s ease-in-out;
    }
    .card.selected{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
    .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Cambia la opacidad de la sombra al pasar el ratón */
        border-color: #340068; /* Cambia el color del borde al pasar el ratón */
        transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
      }
    .truncate-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .calificacion-card {
        transition: none; /* Anula la transición de la sombra y el borde */
        border-color: white ;
    }
    
    .calificacion-card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Puedes ajustar la sombra según tus preferencias */
        border-color: white; /* Restaura el color del borde al estado inicial */
        transition: none; /* Anula la transición de la sombra y el borde */
    }
    .bg-persian-indigo-opaco {
    background-color: var(--persian-indigo-opaco);
    }
    
    .bg-success-custom {
    background-color: var(--success-color);
    }
    
    .bg-danger-custom {
    background-color: var(--danger-color);
    }
    .no-hover-effect:hover {
        box-shadow: none;
        border-color: transparent;
        transition: none;
    }
    .custom-background-danger {
        background-color: #FFEBEB; /* Color de fondo tenue para errores */
    }

    .custom-border-danger {
        border: 1px solid #DC3545; /* Color de borde normal para errores */
    }

    .custom-text-danger {
        color: #DC3545; /* Color de texto para errores */
    }

    .custom-background-success {
        background-color: #E8F8E5; /* Color de fondo tenue para éxito */
    }

    .custom-border-success {
        border: 1px solid #28A745; /* Color de borde normal para éxito */
    }

    .custom-text-success {
        color: #28A745; /* Color de texto para éxito */
    }
</style>
<script>
    function validateForm() {
        var inputFile = document.querySelector('input[type="file"]');
        if (inputFile.files.length === 0) {
            alert("Por favor, carga al menos un archivo .java.");
            return false;
        }
        return true;
    }
</script>
<script>
    // Inicializa el plugin de tooltip de Bootstrap
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script>
    function submitForm() {
        var inputFile = document.querySelector('input[type="file"]');
        if (inputFile.files.length === 0) {
            alert("Por favor, carga al menos un archivo .java.");
            return;
        }

        // Mostrar el botón de carga y ocultar el botón de enviar
        document.getElementById('btnSubmit').classList.add('d-none');
        document.getElementById('btnLoading').classList.remove('d-none');

        // Deshabilitar el formulario para evitar clics adicionales
        document.getElementById('ejercicioForm').submit();
        document.getElementById('ejercicioForm').setAttribute('disabled', 'true');
    }
</script>

{% endblock %}