{% extends "layout.html" %}

{% block title %}Detalle del Ejercicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <br>
    <a href="{{ url_for('detallesSeries',supervisor_id=supervisor_id,serie_id=ejercicio.id_serie) }}" class="btn btn-secondary">Volver</a>
</div>
  
<div class="container mt-5">
    <div class="card text-light bg-dark p-4 rounded mb-4 no-hover-effect">
        <h3>{{ejercicio.nombre}}</h3>
    </div>
</div>

<div class="container mt-5">
    <div class="enunciado-ejercicio">
        {{ enunciado|safe }}
    </div>
</div>

{% endblock %}