{% extends 'layout.html' %}

{% block title %}
{{ curso.nombre }}
{% endblock %}

{% block content %}
<div class="row">
        <h1>{{ curso.nombre }}</h1>
</div>
<div class="row">
    <h2>Lista de clases</h2>
</div>

<div class="row">
    <div class="col-md-6">        
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Apellidos Nombres</th>
                </tr>
            </thead>
            <tbody>
                {% for estudiante in estudiantes_curso %}
                    <tr>
                        <td>{{ estudiante.nombres }} {{ estudiante.apellidos }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <a href="{{ url_for('asignarGrupos', supervisor_id=supervisor_id, curso_id=curso.id) }}" class="btn btn-secondary">Asignar nuevo grupo</a>
                <a href="{{ url_for('progresoCurso', supervisor_id=supervisor_id, curso_id= curso.id)}}" class="btn btn-secondary">Ver progreso del curso</a> 
            </div>
        </div>
        <div class="card mb-3"> <!-- Agrega la clase mb-3 aquí -->
            <!-- Contenido de la tarjeta -->
            <div class="card-header">
                <h5>Grupos del curso</h5>
            </div>
            <div class="card-body">
                {% if grupos|length == 0 %}
                <p class="card-text">No hay grupos</p>
                {% endif %}
                {% for grupo in grupos %}
                <p class="card-text">{{ grupo.nombre }}</p>
                {% endfor %}
            </div>            
        </div>

    </div>
</div>
{% endblock %}