<!--Esta es la pagina que se llama home pero no es home XD, es  la para subir un archivo-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>  
    <h1>Home</h1>
</body>

<body>
    <a href="https://www.google.com">gugul</a>
    <form method ="post" action="/">
        <input type="file" name="archivo_java" accept="archivo_java/java">

        <input type="submit" value="Enviar datos">
    </form>

</body>


</html>