<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/001-java2.png') }}">

    <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-rzO3oYQxTKS7Dl3l3oVMWSktQOp6b7In1z9EE1lAM5RDI1x0UZRIhZ1bVOyJhi5S" crossorigin="anonymous">

    <title>{% block title %}{% endblock %} - MT</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm justify-content-center fixed-top">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('dashDocente',supervisor_id=supervisor_id) }}">CodeBending</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('cuentaDocente', supervisor_id=supervisor_id) }}">Cuenta</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li> 
      </ul>
    </nav>  

    <!-- Bloque para mostrar mensajes flash
    <div class="container mt-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
    </div> -->
    
    <main class="container mt-5">
      {% block content %}
      <!-- El contenido de las vistas individuales irá aquí -->
      {% endblock %}
    </main>


  <footer class="footer py-4 fixed-bottom">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <h5>Información de contacto</h5>
                <p>Profesor Geoffrey Hecht</p>
                <p>ghecht@udec.cl</p>
            </div>
            <div class="col-md-6">
                <h5>Enlaces útiles</h5>
                <ul class="list-unstyled">
                    <li><a href="https://fi.udec.cl/departamentos/informatica-y-cs-de-la-computacion/">Departamento de Informática y Ciencias de la Computación.</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; 2023 Udec, Departamento de Informática. Todos los derechos reservados.</p>
                <p>Interfaz hecha por Ivonne Flores Roa</p>
              </div>
        </div>
    </div>
  </footer>


  </body>


  
  </html>