  <!DOCTYPE html>
  <html lang="en">
  <!-- Plantilla principal de las vistas -->

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>

  <body>
    <nav class="navbar has-shadow is-dark">
      <div class="container">
        <!--logo/brand-->
        <div class="navbar-brand">
          <a href="{{ url_for('index') }}">
            <figure class="image is-128x128">
              <img src="{{ url_for('static', filename='images/graduated.png') }}" alt="sitelogo">
            </figure>
          </a>
          <a role="button" class="navbar-burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>

        {% block navbar %}
        <div class="navbar-menu" id="navbarMenu">
          <div class="navbar-start">
            <a href="#" class="navbar-item">Cuenta</a>
            <a href="{{ url_for('listar_ejercicios') }}" class="navbar-item">Ejercicios</a>
          </div>
        </div>
        {% endblock %}
      </div>
    </nav>

    {% block body %}{% endblock %}

    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>

    {% block content %}{% endblock %}
  </body>

  </html>
