{% extends './layout.html' %}

{% block title %}Login Page{% endblock %}

{% block body %}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-4 is-variable is-desktop">
        <div class="column is-half has-text-left">
          <h1 class="title has-text-black">Login</h1>
          <h2 class="subtitle has-text-black">Please login to proceed.</h2>
          <div class="box">
            <form action = "#" method = "post">
              <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="Ej: usuario123" name="username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" placeholder="*******" name="password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <button class="button is-success is-fullwidth">
                  Login
                </button>
              </div>
            </form>
          </div>
          <p class="has-text-black"> 
            <a href = "{{url_for('index')}}">Atrás</a> | 
            <a href = "{{url_for('upload_file')}}">Upload Page</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
