{% extends "layout.html" %}

{% block title %}
Profesor
{% endblock %}

{% block navbar %}
<div class="navbar-menu" id="navbarMenu">
  <div class="navbar-start">
    <a href="#" class="navbar-item">Cuenta</a>
    <a href="#" class="navbar-item">Ejercicios</a>
  </div>
  <div class="navbar-end">
    <a href="#" class="navbar-item">Lista Clases</a>
    <a href="#" class="navbar-item">Añadir Ejercicio</a>
    <a href="#" class="navbar-item">Grupos</a>
  </div>
</div>
{% endblock %}

{% block body %}
<!-- Aquí puedes agregar el contenido principal de la página profesor.html -->
{% endblock %}
