{% extends 'layout.html' %}

{% block title %}
{{ curso.nombre }}
{% endblock %}

{% block content %}
<div class="row">
    <h1>{{ curso.nombre }}</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card border-dark mb-3">
            <div class="card-header bg-dark text-white">
                Selección de Serie
            </div>
            <div class="card-body">
                <form method="post" action="{{url_for('progresoCurso', supervisor_id=supervisor_id, curso_id=curso.id)}}">
                    <div class="form-group">
                        <select id="serie" name="serie" class="form-control" required>
                            {% for serie_asignada in series_asignadas %}
                                <option value="{{ serie_asignada.id }}">{{ serie_asignada.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-secondary">Seleccionar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Apellidos Nombres</th>
                    {% for ejercicio in ejercicios %}
                        <th>{{ ejercicio.nombre }}</th>
                    {% endfor %}
                    <th>Notas</th>
                </tr>
            </thead>
            <tbody>
                {% for estudiante_info in colores_info %}
                    <tr>
                        <td>{{ estudiante_info['nombre'] }}</td>
                        {% for ejercicio_info in estudiante_info['ejercicios'] %}
                            <td {% if ejercicio_info['color'] and ejercicio_info['color'] != 'info' %}class="bg-{{ ejercicio_info['color'] }}"{% endif %}>
                                {{ ejercicio_info['intentos'] }}
                            </td>
                        {% endfor %}
                        <td>
                            {% if estudiante_info['calificacion'] is not none %}
                                {{ estudiante_info['calificacion'] }}
                            {% else %}
                                N/A
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}