{% extends 'layout.html' %}


{% block title %}
Revisar Trabajos del Curso
{% endblock %}


{% block content %}
<div class="row">
    <div class="container mt-5">
        <form action="post" action="{{url_for('progresoSesion','supervisor_id=supervisor_id,cursi_id=curso_id')}}">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombres y apellidos</th>
                        <th>Progreso</th>
                    </tr>
                </thead>
                <tbody>
                    {% for estudiante in estudiantes%}
                    <tr>
                        <td>{{estudiante.nombres}} {{estudiante.apellidos}}</td>
                        <td>
                        </td>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>
{% endblock %}