{% extends 'layout.html' %}

{% block title %}
Registro de Estudiante
{% endblock %}

{% block content %}
<h2>Registro de Estudiante</h2>

<form action="{{ url_for('registerEstudiante') }}" method="post">
    <div class="form-group">
        <label for="nombre">Matrícula:</label>
        <input type="text" class="form-control" id="matricula" name="matricula" required>
      </div>
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required>
    </div>
    <div class="form-group">
        <label for="apellido_paterno">Apellido Paterno:</label>
        <input type="text" class="form-control" id="apellido_paterno" name="apellido_paterno" required>
    </div>
    <div class="form-group">
        <label for="apellido_materno">Apellido Materno:</label>
        <input type="text" class="form-control" id="apellido_materno" name="apellido_materno" required>
    </div>
    <div class="form-group">
        <label for="correo">Correo Electrónico:</label>
        <input type="email" class="form-control" id="correo" name="correo" required>
    </div>
    <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
{% endblock %}
