{% extends "layout.html" %}

{% block title %}
Registro de Estudiantes
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="mb-4">Registro de Estudiantes</h2>
        <p>Por favor, carga el archivo CSV con los datos de los estudiantes:</p>
        <form action="{{ url_for('registerEstudiantesPage', supervisor_id=current_user.id) }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="archivo">Selecciona el archivo CSV</label>
                <input type="file" class="form-control-file" name="archivo" id="archivo" required>
            </div>
            <button type="submit" class="btn btn-primary">Subir y Registrar</button>
        </form>
    </div>
</div>
{% endblock %}
