{% extends 'layout.html' %}

{% block title %}
Cursos
{% endblock %}

{% block content %}
<h1>Cursos</h1>
<div class="row">
    <div class="col-md-12">
        <ul>
            {% for curso in cursos %}
                <li>
                    <a href="{{ url_for('detallesCurso', supervisor_id=supervisor_id, curso_id=curso.id) }}" style="font-size: 2em;">{{ curso.nombre }}</a>
                    <ul>
                        {% for grupo in curso.grupos %}
                            <li>{{ grupo.nombre }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
