{% extends 'layout.html' %}


{% block title %}
Grupos activos
{% endblock %}


{% block content %}
<h1>Grupos activos para el curso {{ cursos.nombre }}</h1>

<div class="container mt-5">
    <p>Elige un curso del cual quieras ver sus grupos?</p>
    <form method="post" action="{{ url_for('registrarEstudiantes', supervisor_id=supervisor_id) }}">
        <input type="hidden" name="accion" value="crearCurso"> <!-- Agrega un campo oculto para identificar el formulario -->
        <div class="form-group">
            <label for="nombreCurso">Nombre del Curso</label>
            <input type="text" class="form-control" id="nombreCurso" name="nombreCurso" placeholder="Ingresa el nombre del curso" required>
        </div>
        <button type="submit" class="btn btn-primary">Crear Curso</button>
    </form>
</div>

<div class="container mt-5">
    {% for grupo in grupos %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ grupo.nombre }}</h5>
            <p class="card-text">Estudiantes:</p>
            <ul>
                {% for estudiante in estudiantes_por_grupo[grupo.id] %}
                <li>{{ estudiante.nombres }} {{ estudiante.apellidos }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
</div>
{% endblock %}
