{% extends "layout.html" %}

{% block title %}Dashboard Estudiante{% endblock %}

{% block content %}
<div class="container mt-5">

</div>
<div class=" container mt-5 ">
  <div class="card text-light bg-dark mb-4">
    <div class="card-body p-4 rounded">
      <h2 class="card-title">Bienvenido, {{estudiante.nombres }} {{estudiante.apellidos}}</h2>
      <h4 class="card-text">{% if supervisor %}Tu supervisor es: {{supervisor.nombres}} {{supervisor.apellidos}}{% else %}No tienes supervisor asignado.{% endif %}</h4>
      <h5 class="card-text">Perteneces a {{curso.nombre}}</h5>

      {% if grupo %}
        <h5 class="card-title">Estás asignado al: {{grupo.nombre}}</h5>
      {% else %}
        <h5 class="card-title">No estás asignado a ningún grupo.</h5>
      {% endif %}

    </div>
  </div>
        {% if seriesAsignadas %}
          <div class="list-group">
            {% for serie in seriesAsignadas %}
              <a href="{{url_for('detallesSeriesEstudiantes', estudiante_id=estudiante_id, serie_id=serie.id)}}" class="list-group-item list-group-item-action serie-item" style="font-size: 2em;">{{serie.nombre}}</a>
              <div class="list-group">
                {% for ejercicio in ejerciciosPorSerie[serie] %}
                  <a href="{{url_for('detallesEjerciciosEstudiantes', estudiante_id=estudiante_id, serie_id=serie.id, ejercicio_id=ejercicio.id)}}" class="list-group-item list-group-item-action" style="font-size: 1em;">
                    {{ loop.index }}. {{ejercicio.nombre}}
                  </a>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p>No tienes series asignadas en este momento.</p>
        {% endif %}
        <br>
</div>



<div class="container mt-5">

</div>

<style>
  .border-bottom-same-size {
    border-bottom: 2px solid #000; /* Puedes ajustar el grosor y el color del borde según tus preferencias */
  }
  .serie-item {
    background-color: #340068; /* Ejemplo de color de fondo amarillo */
    color: white; /* Ejemplo de color de texto azul oscuro */
  }
  .serie-item:hover {
    background-color: rgba(52, 0, 104, 0.5); /* Color de fondo cuando el mouse está encima */
  }

</style>


{% endblock %}
