{% extends 'layout.html' %}

{% block title %}
Vista Docente -
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="card text-light bg-dark p-4 rounded mb-4 no-hover-effect">
    <h3>{% if curso_seleccionado %}{{ curso_seleccionado.nombre }}{% else %}Cursos disponibles{% endif %}</h3>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 mb-3">
      <a href="{{ url_for('registrarEstudiantes', supervisor_id=supervisor_id) }}" class="btn btn-secondary
      ">Crear Curso</a>
      <a href="{{ url_for('registrarEstudiantes', supervisor_id=supervisor_id) }}" class="btn btn-secondary
      ">Registrar Estudiantes</a>
      <a href="{{ url_for('agregarSerie', supervisor_id=supervisor_id) }}" class="btn btn-secondary
      ">Agregar Serie de ejercicios</a>
      <a href="{{ url_for('agregarEjercicio', supervisor_id=supervisor_id) }}" class="btn btn-secondary
      ">Agregar Ejercicios</a>
    </div>
    
<div class="container mt-5">
  <div class="row">
    {% for curso in cursos %}
      <div class="col-md-6 mb-4">
        <a href="{{ url_for('detallesCurso', supervisor_id=supervisor_id, curso_id=curso.id) }}" class="card-link text-decoration-none">
          <div class="card bg-custom-purple text-white">
            <div class="card-body">
              <h5 class="card-title text-lg text-custom-champagne">{{ curso.nombre }}</h5>
              <p class="card-text text-custom-champagne">
                <span class="badge {% if curso.activa %}badge-success{% else %}badge-danger{% endif %}">
                  {% if curso.activa %}
                    Activo
                  {% else %}
                    Inactivo
                  {% endif %}
                </span>
              </p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>


<div class="container mt-5">
  <ul class="list-group list-group-flush">
    {% for serie in series %}
      <a href="{{ url_for('detallesSeries', supervisor_id=supervisor_id, serie_id=serie.id) }}" class="list-group-item list-group-item-action"> 
        <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
          <span>{{ serie.nombre }}</span>
          <span class="badge {% if serie.activa %}badge-success{% else %}badge-danger{% endif %}">
            {% if serie.activa %}
              Activa
            {% else %}
              Inactiva
            {% endif %}
          </span>
        </div>
      </a>
    {% endfor %}
  </ul>
</div>


<style>
  .card {
    transition: box-shadow 0.3s ease-in-out;
    border: 1px solid #ddd; /* Color del borde normal */
  }

  .card.selected {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Cambia la opacidad de la sombra cuando está seleccionado */
  }

  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Cambia la opacidad de la sombra al pasar el ratón */
    border-color: #340068; /* Cambia el color del borde al pasar el ratón */
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }

  .bg-custom-purple {
    background-color: #FDECEF; /* Puedes ajustar el código de color según tu preferencia */
  }
  .text-custom-champagne {
    color: #340068  ; /* Puedes ajustar el código de color según tu preferencia */
  }
  a{
    color: #340068;
  }

</style>
{% endblock %}
